<!DOCTYPE html>
<html>

<head>
	<title>TechniCARlly</title>
	<link rel="stylesheet" href="../../static/styles.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<div class="navbar">
		<span id="group_name">TechniCARlly</span>
		<a href="adminHome.html">Home</a>
		<a href="viewAccList.html">Accounts</a>
		<a href="viewProfileList.html">Profiles</a>

		<div class="nav_item_right">
			<a href="../logout.html" class="nav_logout">Logout</a>
		</div>
	</div>

	<div id="edit_acc_form">
		<div class="title_row">
			<h2>Edit Account</h2>
			<a href="viewAccList.html"><i class="fa-solid fa-xmark"></i></a>
		</div>
		<div class="suspend_row">
			<button id="suspend_acc_btn" onclick="window.location.href='suspendAcc.html'">Suspend Account</button>
		</div>

		<form name="edit_acc" onsubmit="" method="post">
			<table>
				<!-- <tr class="suspend_row">
					
				</tr> -->
				<tr>
					<td>
						<label for="usertype">User Type: </label>
					</td>
					<td class="field_input">
						<select id="usertype" name="usertype">
							<option value="admin">User Admin</option>
							<option value="buyer">Buyer</option>
							<option value="seller">Seller</option>
							<option value="agent">Used Car Agent</option>
							<!-- ** option retrieve from database -->
						</select>
					</td>
				</tr>

				<tr>
					<td>
						<label for="name">Name: </label>
					</td>
					<td class="field_input">
						<input type="text" id="name" name="name" required />
						<!-- ** retrieve from database -->
					</td>
				</tr>

				<tr>
					<td>
						<label for="email">Email: </label>
					</td>
					<td class="field_input">
						<input type="email" id="email" name="email" required />
						<!-- ** retrieve from database -->
					</td>
				</tr>

				<tr>
					<td>
						<label for="username">Password: </label>
					</td>
					<td class="field_input">
						<input type="text" id="password" name="password" required />
						<!-- ** retrieve from database -->
					</td>
				</tr>

			</table>
		</form>

		<div id="edit_acc_action">
			<button id="discard_edit_acc_btn" onclick="window.location.href='viewAccList.html'">Discard Changes</button>
			<button type="submit" id="save_edit_acc_btn" onclick="window.location.href='viewAccList.html'">Save
				Changes</button>
		</div>
	</div>

	<script src="../../boundaries/loginUI.js"></script>
</body>

</html>