<!DOCTYPE html>
<html>

<head>
	<title>TechniCARlly</title>
	<link rel="stylesheet" href="../../static/styles.css" type="text/css" />
	<link rel="stylesheet" href="../../static/sellerStyle.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="navbar">
		<span id="group_name">TechniCARlly</span>
		<a href="sellerHome.html">Home</a>

		<div class="nav_item_right">
			<a href="../logout.html" class="nav_logout">Logout</a>
		</div>
	</div>

	<!-- ** retrieve details from database -->
	<div id="car_detials">
		<div class="title_row">
			<h2 class="listing_name">Listing name</h2>
		</div>

		<div class="images">
			<img src="" alt="car">
		</div>

		<div class="car_detail_content">
			<table>
				<tr>
					<td class="label"><span>Listing Name: </span></td>
					<td class="text"><span>car1 </span></td>
				</tr>
				<tr>
					<td class="label">
						<span>Listing ID: </span>
					</td>
					<td>
						<span id="CarListingID"></span>
					</td>
				</tr>
				<tr>
					<td class="label"><span>Model: </span></td>
					<td><span id="carModel">model1</span></td>
				</tr>
				<tr>
					<td class="label"><span>Price: </span></td>
					<td><span id="price">$1200</span></td>
				</tr>
				<tr>
					<td class="label"><span>Description: </span></td>
					<td><span id="Description">Some Description for the car</span></td>
				</tr>
				<tr>
					<td><br></td>
				</tr>
				<tr>
					<td class="label" id="views"><span>Views: </span></td>
					<td><span id="views">1</span></td>
				</tr>
				<tr>
					<td class="label" id="shortlists"><span>Shortlists: </span></td>
					<td><span id="shortlists">2</span></td>
				</tr>
			</table>

			<div id="view_page_action">
				<button id="rate_btn" onclick="window.location.href='sellerReview.html'">Rate & Review</button>
				<button id="back_btn" onclick="window.location.href='sellerHome.html'">Back</button>
			</div>
		</div>
	</div>

	<script type="module" src="../../entities/CarListing.js"></script>
	<script type="module" src="../../controllers/seller/ViewNoController.js"></script>
	<script type="module" src="../../boundaries/seller/ViewNoUI.js"></script>
	<script type="module" src="../../controllers/seller/ViewShortlistController.js"></script>
	<script type="module" src="../../boundaries/seller/ViewShortlistUI.js"></script>
</body>

</html>