<!DOCTYPE html>
<html>

<head>
	<title>TechniCARlly</title>
	<link rel="stylesheet" href="../../static/styles.css" type="text/css" />
	<link rel="stylesheet" href="../../static/agentStyle.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="navbar">
		<!-- </template> -->
		<span id="group_name">TechniCARlly</span>
		<a href="agentHome.html" class="active">Home</a>
		<a href="rate&review.html">Rate & Review</a>

		<div class="nav_item_right">
			<a href="../logout.html" class="nav_logout">Logout</a>
		</div>
		<!-- </template> -->
	</div>

	<div>
		<!-- <h1 id="current_user">Welcome, </h1> -->

		<div class="header_row">
			<h2>Car Listing</h2>
			<button class="create_new_btn" onclick="window.location.href='createCar.html'">Create New Listing</button>
		</div>

		<div class="search">
			<form name="search" onsubmit="" method="post">
				<input type="text" placeholder="Search" name="search_input">
				<button type="submit">Search</button>
			</form>
		</div>

		<div class="car_listing">
			<!-- car1 -->
			<div class="car">
				<img src="" alt="">
				<div class="car_content">
					<table>
						<tr>
							<td class="label"><span>Listing Name: </label></td>
							<td class="text"><span>car1 </label></td>
						</tr>
						<tr>
							<td class="label"><span>Model: </label></td>
							<td><span>model1</label></td>
						</tr>
						<tr>
							<td class="label"><span>Price: </label></td>
							<td><span>$1200</label></td>
						</tr>
						<!-- no need -->
						<!-- <tr>
							<td class="label"><span>Seller: </label></td>
							<td><span>seller1</label></td>
						</tr>
						<tr>
							<td class="label"><span>Buyer: </label></td>
							<td><span>buyer</label></td>
						</tr> -->
					</table>
				</div>
				<div class="modify_btn">
					<button class="car_update" onclick="window.location.href='editCar.html'">Update</button>
					<button class="car_suspend" onclick="window.location.href='.html'">Delete</button>
					<button class="car_show_more" onclick="window.location.href='.html'">Show more...</button>
				</div>
			</div>


	</div>

</body>

</html>