<!DOCTYPE html>
<html>

<head>
	<title>TechniCARlly</title>
	<link rel="stylesheet" href="../../static/styles.css" type="text/css"/>
	<link rel="stylesheet" href="../../static/agentStyle.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<div class="navbar">
		<span id="group_name">TechniCARlly</span>
		<a href="agentHome.html" class="active">Home</a>
		<a href="rate&review.html">Rate & Review</a>

		<div class="nav_item_right">
			<a href="../logout.html" class="nav_logout">Logout</a>
		</div>
	</div>

	<div id="create_car_form">
		<div class="title_row">
			<h2>Add Used Car Listing</h2>
			<a href="agentHome.html"><i class="fa-solid fa-xmark"></i></a>
		</div>

		<form name="create_car" onsubmit="" method="post">
			<table>
				<tr>
					<td>
						<label for="carName">Listing name: </label>
					</td>
                    <td class="field_input">
						<input type="text" id="carName" name="carName" required />
					</td>
				</tr>

				<tr>
					<td>
						<label for="model">Model: </label>
					</td>
					<td class="field_input">
						<input type="text" id="model" name="model" required />
					</td>
				</tr>

				<tr>
					<td>
						<label for="price">Price: </label>
					</td>
					<td class="field_input">
						<input type="text" id="price" name="price" required />
					</td>
				</tr>

				<tr>
					<td>
						<label for="descripton">Descripton: </label>
					</td>
					<td class="field_input">
						<input type="text" id="descripton" name="descripton" required />
					</td>
				</tr>

                <tr>
					<td>
						<label for="image">Upload image: </label>
					</td>
					<td class="field_input">
						<input type="file" id="image" name="image" required />
					</td>
				</tr>



			</table>
		</form>

		<div id="create_car_action">
			<button id="cancel_create_btn" onclick="window.location.href='agentHome.html'">Cancel</button>
			<button type="submit" id="submit_create_btn" onclick="window.location.href='agentHome.html'">Submit</button>
		</div>
	</div>

	<script src="../../boundaries/loginUI.js"></script>
</body>

</html>