<!DOCTYPE html>
<html>

<head>
    <title>TechniCARlly</title>
    <link rel="stylesheet" href="../../static/styles.css" type="text/css" />
    <link rel="stylesheet" href="../../static/agentStyle.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar">
        <span id="group_name">TechniCARlly</span>
        <a href="agentHome.html">Home</a>
        <a href="rateNreview.html" class="active">Rate & Review</a>

        <div class="nav_item_right">
            <a href="../logout.html" class="nav_logout">Logout</a>
        </div>
    </div>

    <div>
        <div class="header_row">
            <h2>Rate & Review</h2>
        </div>

        <div class="all_reviews">
            <!-- ** retrieve from database -->
            <!-- <div class="review">
                <div class="user_info">
                    <div class="avatar">A</div>
                    <div class="username">Alex</div>
                </div>
                <div class="rate">
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="review_textbox">
                    <span class="review_text">very good... </span>
                </div>
            </div> -->

        </div>

    </div>

</body>

</html>