<!-- testing login page -->
<!DOCTYPE html>
<html>

<head>
	<title>TechniCARlly</title>
	<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>

<body>
	<div>
		<h1>TechniCARlly:</h1>
		<h3>buy and sell used cars</h3>
		<form name="login" onsubmit="" method="post">
			<input type="text" name="username" id="username" /><br>
			<input type="text" name="password" id="password" /><br>

			<input type="radio" id="userAdmin" name="userType" value="userAdmin" />
			<label for="userAdmin">User Admin</label><br>
			<input type="radio" id="usedCarAgent" name="userType" value="usedCarAgent" />
			<label for="usedCarAgent">Used Car Agent</label><br>
			<input type="radio" id="buyer" name="userType" value="buyer" />
			<label for="buyer">Buyer</label><br>
			<input type="radio" id="seller" name="userType" value="seller" />
			<label for="seller">Seller</label><br>
		</form>

		<button id="loginButton">Login</button>
	</div>

	<script src="script.js"></script>
</body>

</html>