<!DOCTYPE html>
<html>

<head>
	<title>TechniCARlly</title>
	<link rel="stylesheet" href="../../static/styles.css" type="text/css" />
	<link rel="stylesheet" href="../../static/buyerStyle.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="navbar">
		<!-- </template> -->
		<span id="group_name">TechniCARlly</span>
		<a href="buyerHome.html" class="active">Home</a>
		<a href="buyerShortlist.html">Shortlist</a>
		<a href="loanCalculator.html">Loan Calculator</a>

		<div class="nav_item_right">
			<a href="../logout.html" class="nav_logout">Logout</a>
		</div>
		<!-- </template> -->
	</div>

	<div>
		<div class="header_row">
			<h2>Used Car Listing</h2>
		</div>
		<div class="search">
			<form name="search">
				<input type="text" placeholder="Search" name="search_input" id="search_input">
				<button type="submit" id="searchCL">Search</button>
			</form>
		</div>

		<div>
			<span id="searchError" style="display: none;">Could not find listings with that keyword</span>
			<div class="car_listing" id="car_listing">
				<!-- ** retrieve from database -->
				<!-- <div class="car">
					<img src="" alt="">
					<div class="car_content">
						<table>
							<tr>
								<td class="label"><span>Listing Name: </label></td>
								<td class="text"><span>car1 </label></td>
							</tr>
							<tr>
								<td class="label">Listing ID:<span id="carListingID"></span></td>
							</tr>
							<tr>
								<td class="label"><span>Model: </label></td>
								<td><span>model1</label></td>
							</tr>
							<tr>
								<td class="label"><span>Price: </label></td>
								<td><span>$1200</label></td>
							</tr>
						</table>
					</div>
					<div class="modify_btn">
						display popup show saved to shortlist 
						<button class="save_shortlist" id="saveSL">Save</button>
						<button class="car_show_more" onclick="window.location.href='buyerViewCar.html'">Show
							more...</button>
					</div>
				</div> -->

				
			</div>

		</div>

		<script type="module" src="../../../firebaseConfig.js"></script>
		<script type="module" src="../../entities/CarListing.js"></script>
		<script type="module" src="../../controllers/buyer/ViewCarListingController.js"></script>
		<script type="module" src="../../boundaries/buyer/ViewCarListingUI.js"></script>
		<script type="module" src="../../controllers/buyer/CreateShortlistController.js"></script>
		<script type="module" src="../../boundaries/buyer/CreateShortlistUI.js"></script>
</body>

</html>