* {
    margin: 0;
}

/* ------------- Home ------------- */
.header_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header_row h2 {
    text-align: center;
    margin: 20px 0;
}

.header_row .create_new_btn {
    align-self: center;
    position: absolute;
    right: 20px;
    width: 120px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.header_row .create_new_btn:hover {
    background-color: rgb(159, 255, 189);
}


/* ------------- serach bar ------------- */
.search {
    width: 100%;
    text-align: center;
}

.search form {
    display: inline-block;
    width: 80%;
}

.search input {
    width: 70%;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    font-size: 16px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(159, 207, 255);
}


/* ------------- car listing ------------- */
.car_listing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car {
    width: 350px;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px 20px;
}

.car img {
    width: 100%;
    height: 250px;
}

.car_content {
    margin: 10px;
}

.car_content span {
    font-size: 18px;
}

.car_content .label {
    font-weight: bold;
    width: 120px;
}

.car_content .text {
    width: 150px;
}

.modify_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modify_btn button {
    width: 100px;
    padding: 5px;
    font-weight: bold;
}

.car_update:hover,
.car_show_more:hover {
    background-color: rgb(159, 207, 255);
}

.car_suspend:hover {
    background-color: rgb(230, 108, 108);
}

.create_new_btn:hover {
    background-color: rgb(159, 255, 189);
}


/* ------------- create & edit ------------- */
#create_car_form, 
#edit_car_form {
    /* width: 50%; */
    width: 450px;
    margin: 30px auto; /* align to center (horizontal) */
    border: 2px solid;
    border-radius: 20px;
    padding: 0px 20px;
    background-color:azure;
}

#create_car_form form, 
#edit_car_form form {
    padding: 0 10px;
}

#create_car_form table,  
#edit_car_form table {
    width: 100%;
}

#create_car_form tr, 
#edit_car_form tr {
    height: 35px;
}

#create_car_form label , 
#edit_car_form label {
    font-weight: bold;
    font-size: 18px;
}

#create_car_form .field_input, 
#create_car_form .text, 
#edit_car_form .field_input {
    width: 65%;
}

#create_car_action, 
#edit_car_action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#create_car_action button, 
#edit_car_action button {
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

#submit_create_btn:hover {
    background-color: rgb(159, 207, 255);
}

#cancel_create_btn:hover , 
#discard_edit_btn:hover {
    background-color: rgb(230, 108, 108);
}

#save_edit_btn:hover {
    background-color: rgb(159, 255, 189);
} 


/* ------------- view ------------- */
#car_detials {
    width: 70%;
    /* width: 450px; */
    margin: 30px auto; /* align itself to center (horizontal) */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* align content to center (horizontal) */
    border: 2px solid;
    border-radius: 20px;
    padding: 0px 20px;
    background-color:azure;
}

.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images img {
    width: 200px;
    border-radius: 5px;
    margin: 5px;
}

.car_detail_content {
    margin: 10px;
    width: 100%;
    justify-items: center;
}

.car_detail_content span {
    font-size: 20px;
}

.car_detail_content .label {
    font-weight: bold;
    width: 200px;
}

.car_detail_content .text {
    width: 350px;
}

#view_page_action {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#view_page_action button {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

#back_btn:hover {
    background-color: rgb(159, 207, 255);
}

#suspend_btn:hover {
    background-color: rgb(230, 108, 108);
}


/* ------------- rate & reveiw ------------- */
.all_reviews {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 80%;
}

.review {
    width: 100%;
}

.user_info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: rgb(217, 217, 217);
    border-radius: 50%;
    display: flex;
    align-items: center; /* align veritcally */
    justify-content: center; /* align horizontally */
    margin: 10px;
    font-size: 28px;
    font-weight: bold;
}

.username {
    font-size: 24px;
}

.rate {
    margin-left: 20px;
}

.rate i {
    color: rgb(209, 209, 209);
    font-size: 25px;
    margin-right: 5px;
}

.rate .selected {
    color: rgb(255, 222, 77);
}

.review_textbox {
    margin: 10px;
    background-color: rgb(247, 247, 247);
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
}

.review_text {
    font-size: 18px;
    margin: 10px;
}