* {
    margin: 0;
    font-family: Arial;
}

/* ------------- navbar ------------- */
.navbar {
    padding: 15px;
    /* width: 100%; */
    background-color: lightblue;
}

.nav_item_right {
    float: right;
}

#group_name {
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.navbar a {
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover{
    padding: 15px;
    background-color: rgb(215, 255, 255);
}

.navbar .active, 
.navbar .active:hover {
    color: white;
    font-weight: bold;
    background-color: rgb(65, 140, 226);
}

/* ------------- headers ------------- */
h1 {
    text-align: center;
    margin: 40px 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

/* ------------- login & logout ------------- */
#login_form, 
#logout_mess {
    /* width: 50%; */
    width: 450px;
    margin: 30px auto; /* align to center (horizontal) */
    border: 2px solid;
    border-radius: 20px;
    padding: 0px 20px;
    background-color:azure;
}

#login_form form, 
#create_acc_form form, 
#edit_acc_form form, 
#create_profile_form form, 
#edit_profile_form form {
    padding: 0 10px;
}

#login_form table {
    width: 100%;
}


#login_form tr {
    height: 35px;
}

#login_form label {
    font-weight: bold;
    font-size: 18px;
}

#logout_text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

#login_form .field_input {
    width: 65%;
}

#login_info, 
#logout_action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#login_info button, 
#logout_action button {
    font-weight: bold;
    width: 100px;

    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

#login_btn:hover, 
#cancel_logout_btn:hover {
    background-color: rgb(159, 207, 255);
}

#logout_btn:hover {
    background-color: rgb(230, 108, 108);
}

#err_mess {
    color: red;
    width: 200px;
}

/* ------------- title with cross ------------- */
.title_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title_row h2 {
    text-align: center;
    margin: 20px auto;
    
}

.title_row a {
    align-self: center;
    cursor: pointer;
    color: black;
}

.title_row a:hover {
    color: red;
}

.title_row a i {
    font-size: 25px;
}

