* {
    margin: 0;
}


/* general */
.navbar {
    padding: 15px;
    /* width: 100%; */
    background-color: lightblue;
}

.nav_item_right {
    float: right;
}

#group_name {
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.navbar a {
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover{
    padding: 15px;
    background-color: rgb(215, 255, 255);
}

.navbar .active, 
.navbar .active:hover {
    color: white;
    font-weight: bold;
    background-color: rgb(65, 140, 226);
}

h1 {
    text-align: center;
    margin: 40px 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

/* --- login & create & edit (acc & profile)----- */
#login_form, 
#logout_mess, 
#create_acc_form, 
/* #view_acc_info,  */
#edit_acc_form, 
#create_profile_form, 
/* #view_profile_info, */
#edit_profile_form {
    width: 50%;
    /* width: 350px; */
    /* text-align: center; */
    margin: 30px auto; /* align to center (horizontal) */
    border: 2px solid;
    border-radius: 20px;
    padding: 0px 20px;
    background-color:azure;
}


#edit_acc_form .suspend_row, 
#edit_profile_form .suspend_row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: end;
    width: 100%;
}

/* .suspend_btn  */
#suspend_acc_btn, 
#suspend_profile_btn {
    /* width: 100px; */
    padding: 8px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

/* .suspend_btn {
    align-self: center;
    position: absolute;
    right: 20px;
    width: 100px;
    padding: 3px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
} */


#login_form form, 
#create_acc_form form, 
/* #view_acc_info form,  */
#edit_acc_form form, 
#create_profile_form form, 
/* #view_profile_info form,  */
#edit_profile_form form {
    padding: 0 10px;
}

#login_form table, 
#create_acc_form table, 
/* #view_acc_info table,  */
#edit_acc_form table, 
#create_profile_form table, 
/* #view_profile_info table,  */
#edit_profile_form table {
    width: 100%;
}


#login_form tr, 
#create_acc_form tr, 
/* #view_acc_info tr,  */
#edit_acc_form tr, 
#create_profile_form tr, 
/* #view_profile_info tr,  */
#edit_profile_form tr {
    height: 35px;
}

#login_form label,
#create_acc_form label, 
/* #view_acc_info label,  */
#edit_acc_form label, 
#create_profile_form label, 
/* #view_profile_info label,  */
#edit_profile_form label {
    font-weight: bold;
    font-size: 18px;
    /* width: 35%; */
}

#logout_text {
    /* font-weight: bold; */
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

#login_form .field_input, 
#create_acc_form .field_input, 
/* #view_acc_info .field_text,  */
#edit_acc_form .field_input, 
#create_profile_form .field_input, 
/* #view_profile_info .field_text,  */
#edit_profile_form .field_input {
    width: 65%;
}

#login_info, 
#logout_action, 
#create_acc_action, 
#modify_acc_action, 
#edit_acc_action, 
#create_profile_action, 
#modify_profile_action, 
#edit_profile_action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

#login_info button, 
#logout_action button, 
#create_acc_action button, 
/* #modify_acc_action button,  */
#edit_acc_action button,
#create_profile_action button, 
/* #modify_profile_action button,  */
#edit_profile_action button {
    /* font-size: 15px; */
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

#login_btn:hover, 
#cancel_logout_btn:hover, 
#submit_create_acc_btn:hover, 
/* #edit_acc_btn:hover,  */
#submit_create_profile_btn:hover 
/* #edit_profile_btn:hover  */
{
    background-color: rgb(159, 207, 255);
}

#logout_btn:hover, 
#cancel_create_acc_btn:hover, 
/* #suspend_acc_btn:hover,  */
#discard_edit_acc_btn:hover, 
#cancel_create_profile_btn:hover, 
/* #suspend_profile_btn:hover,  */
#discard_edit_profile_btn:hover, 
.suspend_btn:hover {
    background-color: rgb(230, 108, 108);
}

#save_edit_acc_btn:hover, 
#save_edit_profile_btn:hover {
    background-color: rgb(159, 255, 189);
}

#err_mess {
    color: red;
    width: 200px;
}

/* title with cross */
.title_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.title_row h2 {
    text-align: center;
    margin: 20px auto;
    
}

.title_row a {
    align-self: center;
    cursor: pointer;
    color: black;
}

.title_row a:hover {
    color: red;
}

.title_row a i {
    font-size: 25px;
}


/* ----------------------- Admin ---------------------------- */
/* Home page */
#modify_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px; 
}

#modify_btn button {
    font-size: 30px;
    padding: 25px;
    border-radius: 20px;
    cursor: pointer;
}

#modify_btn button:hover {
    background-color: rgb(159, 207, 255);
}


/* View Account List page */
.header_row {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    width: 100%;
}

.header_row h2 {
    /* flex-grow: 1; */
    text-align: center;
    margin: 20px 0;
}


.header_row .create_new_btn {
    align-self: center;
    position: absolute;
    right: 20px;
    width: 120px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.header_row .create_new_btn:hover {
    background-color: rgb(159, 255, 189);
}

.search {
    width: 100%;
    text-align: center;
}

.search form {
    display: inline-block;
    width: 80%;
}

.search input {
    width: 70%;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
}

.search button {
    font-size: 16px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(159, 207, 255);
    /* border: none; */
}

#accList, 
#profileList {
    width: 100%;
    /* text-align: center; */
}

#accList table,
#profileList table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

#accList tr, #accList th, #accList td,
#profileList te, #profileList th, #profileList td {
    border: 1px solid;
}

#accList a, 
#profileList a {
    color: black;
}

#accList a:hover,
#profileList a:hover {
    color: rgb(103, 174, 255);
}
